#root {
  max-width: 1280px;
  margin: 0 auto;
}

main {
  justify-content: center;
  align-items: center;
}

.table-wrapper {
  margin: auto;
  display: flex;
  min-width: 50vw;
  min-height: 75vh;
  min-height: 600px;
  max-width: 90vw;
  max-height: 75vh;
  overflow: scroll;
}

// TABLE
.user-table {
  thead {
    tr:first-child {
      background-color: beige;
    }
    th {
      padding: 0.8rem 1rem;
    }
  }

  td {
    padding: 0.8rem 1rem;
  }

  tbody > tr:nth-child(odd) {
    background-color: beige;
  }
}

// UI COMPONENTS
.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  border: 5px solid #000000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
