//COLORS
$blue: #0266ff;
$grey: #989696;
$offwhite: #eff0f0;

// GENERAL
#root {
  max-width: 1280px;
  margin: 0 auto;
  @media (min-width: 768px) {
    margin-top: 1.5rem;
  }
  @media (min-width: 768px) {
    margin: 2rem auto;
  }
}

main {
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  min-width: 50vw;
  min-height: 75vh;
  min-height: 600px;
}

// MENU

.standardize-switch {
  .switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  .switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 50px;
    height: 25px;
    background: black; // grey looks better solo but worse on page
    border-radius: 100px;
    position: relative;
    transition: background-color 0.2s;
  }
  &.active {
    .switch-label {
      background: rgba($blue, 0.8);
    }
  }

  .switch-label .switch-button {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22.5px;
    height: 22.5px;
    border-radius: 22.5px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgb(10 10 10 / 23%),
      0px 1px 1px 0px rgb(10 10 10 / 23%);
  }

  .switch-checkbox:checked + .switch-label .switch-button {
    left: calc(100% - 1px);
    transform: translateX(-100%);
  }

  .switch-label:active .switch-button {
    width: 30px;
  }
}

#search-button {
  &:hover {
    cursor: pointer !important;
  }
  img {
    transition: filter 0.5s;
  }
  img:hover {
    filter: invert(68%) sepia(4%) saturate(7%) hue-rotate(314deg)
      brightness(86%) contrast(92%); //this is "color: $grey" set via filter parameter
  }
}

.page-button {
  &:hover {
    color: $grey;
  }
}

// TABLE
$table-width: 800px;
$table-height: 450px;
$cell-height: 80px;

.table-menu-wrapper {
  max-width: 90vw;
}

.table-wrapper {
  overflow: scroll;
  // do not set min-width! - it ruins responsiveness
  min-height: calc($table-height + 50px);
  max-height: calc($table-height + 50px);
  max-width: calc($table-width + 50px);
}

.user-table {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin: 0 1em 2em;
  overflow: hidden;
  font-size: 12px;
  line-height: 1.1;
  min-width: $table-width;
  min-height: $table-height;
  table-layout: fixed;
  max-width: $table-width;
  max-height: $table-height;
  border-radius: 0;
  border-collapse: collapse;

  .table-header {
    // position: relative;
    position: sticky; // resolves search icons showing through bug that occured in Safari
    z-index: 10;
    background-color: $offwhite !important;
    max-width: 100%;
    transition: transform 0.3s ease-out;
  }

  tr {
    // background-color: transparent ;
    border-bottom: 1px solid rgba(128, 128, 128, 0.333);
  }

  .table-row {
    min-width: $table-width;
    &:hover {
      // background-color: rgba(228, 228, 228, 0.391) !important;
      background: rgba($blue, 0.03);
    }
  }

  .table-body-placeholder {
    height: 408px;
    background-color: #fafafb;
  }

  // fix column width according to data space needs
  .name-col {
    max-width: calc(0.25 * $table-width);
    min-width: calc(0.25 * $table-width);
    // width: 25%;
  }
  .username-col {
    max-width: calc(0.2 * $table-width);
    min-width: calc(0.2 * $table-width);
    // width: 20%;
  }
  .email-col {
    max-width: calc(0.3 * $table-width);
    min-width: calc(0.3 * $table-width);
    // width: 30%;
  }

  .phone-col {
    max-width: calc(0.25 * $table-width);
    min-width: calc(0.25 * $table-width);
    // width: 25%;
  }

  // style table header
  thead {
    th {
      padding: 0.8rem 1rem;
      max-width: 0;
    }
  }

  // style table cells
  tbody {
    tr {
      text-align: left;
    }

    td {
      padding: 0.75rem;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow-wrap: anywhere;
      height: $cell-height; // height parameter in tables also works as max-height

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }

      @media (min-width: 640px) {
        padding: 0.8rem 1rem;
      }
    }
  }

  @media (min-width: 640px) {
    font-size: 14px;
    line-height: 1.2;
  }
  @media (min-width: 1024px) {
    font-size: 15px;
  }
}

// SEARCH INPUT
.search-input-div {
  &:hover,
  &:focus,
  &.active {
    border-color: $blue;
  }
  .search-label {
    background-color: $offwhite !important;
    img {
      filter: invert(68%) sepia(4%) saturate(7%) hue-rotate(314deg)
        brightness(86%) contrast(92%);
    }
  }
  .search-clean-button {
    transition: opacity 1s ease-in-out;
    color: $grey;
    &:hover {
      color: rgba($grey, 0.5);
    }
  }

  input {
    &:hover,
    &:focus {
      outline: none;
    }
  }
}

//LOADER
.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  border: 5px solid #000000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// scale down for mobile
@media (max-width: 768px) {
  main {
    transform: scale(0.9);
  }
}
::-webkit-scrollbar-thumb {
  background-color: $grey;
}
