// GENERAL
#root {
  max-width: 1280px;
  margin: 0 auto;
}

main {
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  min-width: 50vw;
  min-height: 75vh;
  min-height: 600px;
  // max-width: 90vw;
  // max-height: 75vh;
}

// TABLE
$table-width: 800px;
$table-height: 450px;
$cell-height: 80px;

.table-wrapper {
  overflow: scroll;
  max-height: calc($table-height + 40px); // .user-table max-height + margin
  max-width: 95vw;
}

.user-table {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin: 0 1em 2em;
  border-collapse: separate;
  overflow: hidden;
  border-radius: 15px;
  font-size: 12px;
  line-height: 1.1;
  min-width: $table-width;
  min-height: $table-height;
  table-layout: fixed;
  max-height: $table-height;

  .table-row {
    min-width: $table-width;
    min-height: $table-height;
  }

  // fix column width according to data space needs
  .name-col {
    width: 25%;
  }
  .username-col {
    width: 20%;
  }
  .email-col {
    width: 30%;
  }
  .phone-col {
    width: 25%;
  }

  // style table header
  thead {
    tr:first-child {
      background-color: rgba(210, 210, 210, 0.3);
    }
    th {
      padding: 0.8rem 1rem;
      max-width: 0;
    }
  }

  // style table cells
  tbody {
    tr {
      text-align: left;
    }

    td {
      padding: 0.75rem;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      height: $cell-height; // height parameter in tables, works as max-height

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }

      @media (min-width: 640px) {
        padding: 0.8rem 1rem;
      }
    }
  }
  tbody > tr:nth-child(odd) {
    background-color: rgba(210, 210, 210, 0.3);
  }
  @media (min-width: 640px) {
    font-size: 14px;
    line-height: 1.2;
  }
  @media (min-width: 1024px) {
    font-size: 15px;
    // line-height: 1.5;
  }
}

// SEARCH INPUT

.search-input-div {
  &:hover,
  &:focus {
    border-color: #025fcc !important;
  }

  .search-clean-button {
    transition: opacity 1s ease-in-out;
  }

  input {
    &:hover,
    &:focus {
      outline: none;
    }
  }
}

// STANDARDIZE SWITCH
.switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 50px;
  height: 25px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.switch-label .switch-button {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22.5px;
  height: 22.5px;
  border-radius: 22.5px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switch-checkbox:checked + .switch-label .switch-button {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

.switch-label:active .switch-button {
  width: 30px;
}

//LOADER
.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  border: 5px solid #000000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
